@keyframes fadeInOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
  }
  
.loadingIcon {
    animation: fadeInOut 1s infinite;
    font-size: 24px; /* increase the size */
    font-family: 'Arial', sans-serif; /* change the font */
    font-weight: bold; /* make the text bold */
}

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    width: 800px;
    height: 600px;
  }